.rating_area {
  padding: 40px 0 85px;
  .slick-slide {
    width: max-content !important;
  }
  .slick-list {
    height: 80px;
  }
  p {
    font-size: 14px;
    line-height: 17px;
  }

  .logo {
    // width: 7.5rem;
    height: 60px;
  }
}

.rating_area2 {
  padding: 90px 0 90px;
  // .slick-slide {
  //   width: max-content !important;
  // }
  .slick-list {
    height: 80px;
  }
  p {
    font-size: 14px;
    line-height: 17px;
  }

  // .logo {
  //   // width: 7.5rem;
  //   // height: 60px;
  // }
}
