.stackimgBox{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #EFFAFF;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: inline-flex;
    
}
.stackimgBox img{
    width: 30px;
    height: 30px
}
.stackContent h6{
    letter-spacing: 0.3px;
    color: #030303;
}
.stackContent p {
    font-size: 14px;
    line-height: 24px;
    text-align: left;
}